{% extends "SalmaSymCartBundle::layout.html.twig" %}
{% block title %}My Cart!{% endblock %}

{% block body %}

    <table class="table table-striped ">
        <input type="hidden" id="path" value="{{ path('cart_change_quantity') }}"/>
        <thead>
            <tr class="text-light-blue">
                <td align="center"><strong>Item Name</strong></td>
                <td align="center"><strong>Unit Price</strong></td>
                <td align="center"><strong>Quantity</strong></td>
                <td align="center"><strong>Subtotal</strong></td>
                <td align="center"><strong>Action</strong></td>
            </tr>

        </thead>
        <tbody>
            {% for item in items %}
                <tr id="quantity">
                    <td align="center"> <a  href="{{ path('product_show', {'id': item.id}) }}"  >{{item.name}}</a> </td>
                    <td align="center">{{item.price}} USD</td>
                    <td width="5%" align="center" ><input type="number" min="1" id="{{item.id}}" value="{{item.quantity}}" class="form-control"/></td>
                    <td align="center" id="subtotal-{{item.id}}">
                        <strong>{{item.subtotal}} USD</strong>
                        <img style="display: none" src='{{ asset('bundles/salmasymcart/images/ajax-loader.gif')}}' />
                    </td>
                    <td align="center" >
                        <a type="button" id="remv-item" href="{{ path('cart_remv_item', {'id': item.id}) }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>

                </tr>
                {% else %}
                    <tr  class="warning"> 
                        <td colspan="5" align="center"> No Items in Your Cart</td>
                    </tr>

                    {% endfor %}
                        {% if total %}
                            <tr >
                                <td colspan="4"  id="total"  align="right" >
                                    <strong>{{total}} USD</strong>
                                    <img style="display: none" src='{{ asset('bundles/salmasymcart/images/ajax-loader.gif')}}' />
                                </td>
                                <td align="center"><a href="{{ path('cart_empty') }}"><input  type="button" class="btn btn-danger btn-sm" value="Empty Cart"/></a></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% if total %}<br />
                 
                    
                    <div style="float:right"  class="btn-group">

                         <a  href="{{ path('cart_checkout') }}" class="btn btn-danger btn-lg" id="checkout" type="button" >Check Out</a>
                         <a  href="{{ path('index') }}" class="btn btn-success btn-lg" type="button" >Continue Shopping</a>
                       
                    </div>
                {% endif %}
                {% endblock %}
                    {% block javascripts %}

                        {{ parent() }}

                        <script src="{{ asset('bundles/salmasymcart/js/cart.js') }}"></script>

                    {% endblock %}